@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent pull-to-refresh on mobile */
html, body {
  overscroll-behavior: none;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
